* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

section {
  margin: 50px auto;
}

.btn-style {
  border: none;
  min-width: 5vw;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn-style::after{
  display: block;
  content: '';
  border-bottom: 2px solid #ff557c;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.btn-style:hover::after{
  transform: scaleX(1);
}